<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.part.jianzhiyi.modulemerchants">

    <application>
        <activity android:name=".mvp.ui.activity.MerCompanyInfoActivity"></activity>
        <activity android:name=".mvp.ui.activity.MerGuideAuthActivity" />
        <activity
            android:name=".mvp.ui.activity.MerPreviewActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.MerWebDataActivity" />
        <activity
            android:name=".mvp.ui.activity.MerOtherActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.ui.activity.MerSalaryActivity" />
        <activity android:name=".mvp.ui.activity.MerRecruitTypeActivity" />
        <activity android:name=".mvp.ui.activity.MerSettingActivity" />
        <activity
            android:name=".mvp.ui.activity.MerFeedbackActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.ui.activity.MerRecruitActivity" />
        <activity
            android:name=".mvp.ui.activity.MerPositionInfoActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.ui.activity.MerSelectPositionActivity" />
        <activity android:name=".mvp.ui.activity.MerGuideActivity" />
        <activity android:name=".mvp.ui.activity.MerUploadInfoActivity" />
        <activity android:name=".mvp.ui.activity.MerMyCompanyActivity" />
        <activity android:name=".mvp.ui.activity.MerAuthSuccessActivity" />
        <activity android:name=".mvp.ui.activity.MerAuthSelectActivity" />
        <activity android:name=".mvp.ui.activity.MerPhotoViewActivity" />
        <activity
            android:name=".mvp.ui.activity.MerAuthActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".mvp.ui.activity.MerAuthHtmlActivity" />
        <activity android:name=".mvp.ui.activity.MerPayActivity" />
        <activity android:name=".mvp.ui.activity.MerMyWalletActivity" />
        <activity
            android:name=".mvp.ui.activity.MerMainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.ChooseIdentityActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mtg_provider_paths"
                tools:replace="android:resource" />
        </provider>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>