<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.part.jianzhiyi">

    <application
        android:name=".app.ODApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".mvp.ui.activity.HtmlIntegralActivity"></activity>
        <activity android:name=".mvp.ui.activity.IntegralListActivity" />
        <activity android:name=".mvp.ui.activity.IntegralActivity" />
        <activity android:name=".mvp.ui.activity.ZfbWithdrawalActivity" />
        <activity android:name=".mvp.ui.activity.WithdrawalActivity" />
        <activity android:name=".mvp.ui.activity.TaskDetailActivity" />
        <activity
            android:name=".mvp.ui.activity.MyWalletActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.ui.activity.PopupPushActivity"
            android:exported="true" />
        <activity android:name=".mvp.ui.activity.HtmlBannerUrlActivity" />
        <activity android:name=".mvp.ui.activity.ExpectPositionActivity" />
        <activity android:name=".mvp.ui.activity.AboutMineActivity" />
        <activity android:name=".mvp.ui.activity.MyStatusActivity" />
        <activity android:name=".mvp.ui.activity.JoinSuccessActivity" />
        <activity android:name=".mvp.ui.activity.ActionListActivity" />
        <activity android:name=".mvp.ui.activity.MineDeliveryActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lp"
                    android:path="/registeredlist"
                    android:scheme="com.part.jianzhiyi" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.MineUpdateProfileActivity" />
        <activity android:name=".mvp.ui.activity.MineUpdateResumeActivity" />
        <activity android:name=".mvp.ui.activity.MineFavouriteActivity" />
        <activity android:name=".mvp.ui.activity.BusinessActivity" />
        <activity android:name=".mvp.ui.activity.MineFeekbackActivity" />
        <activity android:name=".mvp.ui.activity.MineAboutActivity" />
        <activity android:name=".mvp.ui.activity.MineSettingActivity" />
        <activity android:name=".mvp.ui.activity.SeeMineActivity" />
        <activity android:name=".mvp.ui.activity.ChatActivity" />
        <activity android:name=".mvp.ui.activity.RankActivity" />
        <activity android:name=".mvp.ui.activity.VocationListActivity" />
        <activity android:name=".mvp.ui.activity.ChoiceRecommendListActivity" />
        <activity android:name=".mvp.ui.activity.CityActivity" />
        <activity android:name=".mvp.ui.activity.SearchActivity" />
        <activity android:name=".mvp.ui.activity.HomeVocationListActivity" />
        <activity
            android:name=".mvp.ui.activity.VocationActivity"
            android:launchMode="singleTask" />
        <activity android:name=".mvp.ui.activity.ResumeActivity" />
        <activity
            android:name=".mvp.ui.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/SplashTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.HtmlActivity" />
        <activity
            android:name=".mvp.ui.activity.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mvp.ui.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="lp"
                    android:path="/main"
                    android:scheme="com.part.jianzhiyi" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="MOKU_APP_ID"
            android:value="3z5QpUTF" />
        <meta-data
            android:name="MOKU_APP_SECRET"
            android:value="528e153c8f1b5cf4f7c3b7886df652f33c128380" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5eb65a45978eea078b7e9ac8" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="dongfangtoutiao2" /> <!-- <meta-data -->
        <!-- android:name="com.huawei.hms.client.appid" -->
        <!-- android:value="102165627" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.vivo.push.api_key" -->
        <!-- android:value="7cc423a540edbc3be805c7d21430f478" /> -->
        <!-- <meta-data -->
        <!-- android:name="com.vivo.push.app_id" -->
        <!-- android:value="103897857" /> -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="459f11f8d3cff0fcb089dc62dbacc873" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/mtg_provider_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.TTFileProvider"
            android:authorities="${applicationId}.TTFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <provider
            android:name="com.bytedance.sdk.openadsdk.multipro.TTMultiProvider"
            android:authorities="${applicationId}.TTMultiProvider"
            android:exported="false" />

        <receiver
            android:name=".MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <service android:name="com.amap.api.location.APSService" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

</manifest>